<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<title>
		AskSit MainPage
	</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand span1" href="/">AskSit</a>
					<form class="navbar-search pull-left">
						<input type="text" class="search-query" placeholder="Search">
					</form>
					<!--<ul class="nav" style="display: none">-->
					<ul class="nav">
						<li><a href="/signup/">register</a></li>
						<li><a href="/login/">log in</a></li>
					</ul>
					<div class="userfield pull-right">
						<a href="/profile/"><ins>Stalin</ins></a><br>
						<a href="/logout/">Log out</a>
					</div>
					<img src="/avatar.jpg" width="40" height="40" class="pull-right img-circle" style="margin-left: 10px; margin-right: 10px;">
					<a href="/ask/" type="submit" class="btn ask-btn btn-primary pull-right">ASK!</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="span9">
					{% block main %}
					{% endblock %}
				</div>

				<div class="span3">
					<div class="poptag">
						<h3>Популярные теги</h3>
						<a href="#">russia</a>,
						<a href="#">vk</a>,
						<a href="#">vkpost</a>,
						<a href="#">россия</a>,
						<a href="#">любовь</a>,
						<a href="#">москва</a>,
						<a href="#">я</a>,
						<a href="#">осень</a>,
						<a href="#">фото</a>,
						<a href="#">снег</a>,
						<a href="#">порусски</a>,
						<a href="#">зима</a>,
						<a href="#">питер</a>,
						<a href="#">метро</a>,
						<a href="#">мода</a>,
						<a href="#">стиль</a>,
						<a href="#">девушка</a>,
						<a href="#">путешествие</a>,
						<a href="#">небо</a>,
						<a href="#">ночь</a>,
						<a href="#">утро</a>,
						<a href="#">красота</a>,
						<a href="#">вечер</a>,
						<a href="#">девушки</a>,
						<a href="#">дождь</a>,
						<a href="#">красиво</a>,
						<a href="#">дом</a>,
						<a href="#">город</a>,
						<a href="#">лето</a>,
						<a href="#">фотоног</a>,
						<a href="#">еда</a>,
						<a href="#">кот</a>,
						<a href="#">котик</a>,
						<a href="#">котэ</a>.
					</div>

					<div class="userstop">
						<h3>Топ участников</h3>
						<ol type="1" start="1">
							<li><a href="#">Ironshaper</a></li>
							<li><a href="#">Dolar</a></li>
							<li><a href="#">Malagore</a></li>
							<li><a href="#">Mazum</a></li>
							<li><a href="#">Cordadi</a></li>
							<li><a href="#">Thorgari</a></li>
							<li><a href="#">Bulas</a></li>
							<li><a href="#">Tygotilar</a></li>
							<li><a href="#">Mari</a></li>
							<li><a href="#">Managinn</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>