{% extends "base.html" %}

{% block main %}
<h2>Лучшие вопросы</h2>

{% for in in "12345" %}
<div class="question row">
	<div class="span2">
		<img src="/avatar.jpg" class="img-circle">

		<button type="like" class="btn btn-like">
			like <span class="badge badge-success">121</span>
		</button>
		<button type="dislike" class="btn btn-dislike">
			hate <span class="badge badge-inverse">34</span>
		</button>
	</div>

	<div class="span6">
		<h4><a href="#">Международное положение Советского Союза</a></h4>
		<p>
			Товарищи! Со времени XVII съезда партии прошло пять лет. Период, как видите, немалый. За это время мир успел пережить значительные изменения. Государства и страны, их отношения между собой стали во многом совершенно иными. Какие именно изменения произошли за этот период в международной обстановке? Что именно изменилось во внешнем и внутреннем положении нашей страны?
		</p>
		<div>
			<a href="#" class="pull-right">ответить <span class="badge">27</span></a>
			<br>
			Теги:
			<div class="taglist">
				<a href="#">сталин</a>,
				<a href="#">кризис</a>,
				<a href="#">социализм</a>,
				<a href="#">преимущество</a>,
				<a href="#">загнивающий запад</a>,
				<a href="#">великая депрессия</a>.
			</div>
		</div>
	</div>
</div>
{% endfor %}

<div class="pagination">
	<ul>
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>
{% endblock %}