{% extends "base.html" %}

{% block main %}
<div class="loginpage row">
	<legend>Log In</legend>
</div>

<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="inputUsername">ваш ник: </label>
		<div class="controls">
			<input type="text" id="inputUsername" placeholder="username">
			<span class="alert alert-error">Неверное имя пользователя</span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputPassword">пароль: </label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="password">
				<span class="alert alert-error">Неправильный пароль</span>
			</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Войти</button>
		</div>
	</div>

</form>
{% endblock %}