{% extends "base.html" %}

{% block main %}
<div class="loginpage row">
	<legend>Sign Up</legend>
</div>

<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="inputUsername">введите свой ник: </label>
		<div class="controls">
			<input type="text" id="inputUsername" placeholder="username">
			<span class="alert alert-error">Неверное имя пользователя</span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputPassword">введите свой пароль: </label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="password">
				<span class="alert alert-error">Некорректные символы в пароле</span>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputRepeatPassword">повторите пароль: </label>
			<div class="controls">
				<input type="password" id="inputRepeatPassword">
				<span class="alert alert-error">Пароли не совпадают</span>
			</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputEmail">введите email: </label>
			<div class="controls">
				<input type="text" id="inputEmail" placeholder="example@mail.ru">
				<span class="alert alert-error">Некорректный email</span>
			</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-success btn-large" style="margin: 10px 50px">Присоединиться</button>
		</div>
	</div>

</form>
{% endblock %}