.navbar {
	margin: 15px 15%;
}

.question {
	background: whitesmoke;
	border: solid 1px darkgray;
	margin-top: 25px;
	padding: 30px 30px;
}

.taglist {
	font-style: italic;
}

.btn-like {
	margin-left: 25%;
	margin-top: 10%;
	background: green;
	color: white;
	font-weight: bold;
}

.btn-dislike {
	margin-left: 25%;
	margin-top: 10%;
	background: red;
	color: white;
	font-weight: bold;
}

.poptag {
	margin-left: 20px;
}

.userstop {
	margin-left: 20px;
}

.userfield {
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	margin: 10px 10px;
}
